@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar-container .ant-anchor-link-title {
    color: white !important; 
    font-size: 20px !important; 
    margin-right: 30px; 
    font-style:oblique;
    font-family: 'Roboto', sans-serif;
    padding: 0 12px;

  }
  
  .navbar-header {
    background-color: #124E78;
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-container {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }